<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index Page</title>
<link rel="stylesheet" type="text/css" href="/index.css">
</head>
<body>

	<div class="image">
		<img alt="TuneHub" src="image/TuneHub3.png">
	</div>
	<div class="form1">

		<h2 class="h2">WELCOME TO TUNEHUB</h2>
		<p id="p">With Tunehub, delve into a vast array of music genres.
			Stream with ease, create your unique playlists, and enjoy premium
			membership with convenient payment integration for a superior music
			discovery adventure. Embark on the ultimate music journey now.</p>
		<br />
		<p id="p1">New Here?Register Now</p>

		<form action="registration" class="input">
			<input id="sub" type="submit" value="REGISTRATION">
		</form>


		<p id="p2">Login to your account</p>

		<form action="login" class="input">
			<input id="sub" type="submit" value="LOGIN">
		</form>
	</div>
</body>
</html>