<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Add Song</title>
<link rel="stylesheet" type="text/css" href="/commonfile.css">
<link rel="stylesheet" type="text/css" href="/song.css">
</head>
<body>
	<form action="addsongs" method="post" class="song">
		<label>Song Name:</label><br> <input type="text" name="name"
			id="in"> <br>
		<br> <label>Song Artist:</label><br> <input type="text"
			name="artist" id="in"> <br>
		<br> <label>Song Genre:</label><br> <input type="text"
			name="genre" id="in"> <br>
		<br> <label>Song Link:</label><br> <input type="text"
			name="link" id="in"> <br>
		<br> <input type="submit" value="ADD SONG" id="submit">
	</form>
</body>
</html>